/*Reset default browser styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    line-height: 1.6;
}

html{
    scroll-behavior: smooth;
}

/*background color and style for the body*/
#top{
    background-color: #f7f7f7;
    line-height: 1.6;
    color: #fff;
    text-align: center;
    position: relative;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    line-height: 1.6;
}

/*header*/
header {
    background-color: #c26e00;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 3em;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

/*about section*/
#about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 50px;
    padding: 40px 20px;
}

.toptext {
    flex: 1;
    padding: 20px;
    margin-right: 50px; 
    text-align: left;
    float: right;
}

.toptext h2 {
    font-size: 2em;
    text-align: left;
    position: relative;
}

.toptext p {
    font-size: 1.1em;
    margin-top: 20px; 
    line-height: 1.5; 
}

.imageabouth {
    flex: 1;
    text-align: center;
}

.imageabouth img {
    width: 80%;
    position: relative;
    height: auto;
}

/*product section*/
#products {
    text-align: center;
    padding: 20px;
}

.product{
    margin: 20px;
    display: inline-block;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 28%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s;
}

.product h3 {
    font-size: 1.2em;
}

.product .price {
    font-weight: bold;
    color: #f77f00;
}

/*order now button*/
.product button {
    display: block;
    margin: 10px auto; 
    background-color: #f77f00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.product button:hover {
    background-color: #f7c300;
    transform: scale(1.05);
}

/*footer*/
footer {
    text-align: center;
    padding: 10px;
    background-color: #c26e00;
    color: #fff;
}

/*contact section */
#contact {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

#contact h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#contact p {
    font-size: 1.1em;
    margin: 10px 0;
}

#contact a {
    text-decoration: none;
    color: #c26e00; 
    font-weight: bold;
}
